<div class="imageBack">	
	<div class="container">	
		<h1>Banke</h1>
		<section class="searchDiv">
			<div class="inputWrapper">
				<input type="number" [(ngModel)]="bankaId" placeholder="Type in the ID" (ngModelChange)="hideClearSearchButton()"/>
				<button class="clearButton" id="clearSearch" (click)="getAllBanke()" hidden>x</button>
			</div>
			<button class="button" (click)="getBankaById()">Search</button>
		</section>
		<div class="table-wrapper" *ngIf="banke">
			<table>
				<tr>
					
					<th>ID</th>
					<th>Sifra banke</th>
					<th>Naziv banke</th>
					<th>Adresa</th>
					<th>Telefon</th>
					<th>Swift kod</th>
					<th>Fax</th>
					<th>Obracunski racun</th>
					<th>Web</th>
					<th></th>
				</tr>
				<tr *ngFor="let banka of banke">				
					<td>{{banka.id}}</td>
					<td>{{banka.sifraBanke}}</td>
					<td>{{banka.nazivBanke}}</td>
					<td>{{banka.adresa}}</td>
					<td>{{banka.telefon}}</td>
					<td>{{banka.swiftKod}}</td>
					<td>{{banka.fax}}</td>
					<td>{{banka.obracunskiRacun}}</td>
					<td>{{banka.web}}</td>
					<td>
						<button (click)="deleteBanka(banka.id)" title="Delete banka" class="deleteButton">
							<img src="../../assets/images/trash.svg" class="deleteBanka">
						</button>
					</td>
				</tr>
			</table>
		</div>
		<!--<div *ngIf="!banke">There is no uploaded images</div>-->
	</div>
</div>
