<div class="container">
    <div class="registracija-property">
        <h4>Registracija</h4>
        <p >Ime: </p><input id="ime" type="text" placeholder="Ime" required/>
        <p >Prezime: </p><input id="prezime" type="text" placeholder="Prezime" required/>
        <p >Email: </p><input id="email" type="text" placeholder="Email" required/>
        <p >Adresa: </p><input id="adresa" type="text" placeholder="Adresa" required/>
        <p >Telefon: </p><input id="telefon" type="text" placeholder="Telefon" required/>
        <p >Jmbg: </p><input id="jmbg" type="text" placeholder="Jmbg" required/>
        <p >Korisnicko ime: </p><input id="username" type="text" placeholder="Korisnicko Ime" required/>
        <p >Sifra: </p><input id="password" type="password" placeholder="Sifra" required/>
        <!-- <p >Da li ste fizicko lice? </p><input id="fizickoLice" type="radio"  required/> -->
        <button (click)="onSubmit()" id="registracijaButton"> Registracija</button>
    </div>
</div>